accelerate==0.29.3
adbc_driver_manager==0.11.0
adbc_driver_postgresql==0.11.0
adbc_driver_sqlite==0.11.0
ads==0.12.4
aesara==2.9.3
aim==3.19.3
ain==0.0.2
aiodns==3.2.0
airbyte_cdk==0.83.1
aleph_alpha_client==7.0.1
alibabacloud_ha3engine_vector==1.1.3
alibabacloud_tea_util==0.3.11
altair_saver==0.5.0
anywidget==0.9.8
apex==0.9.10dev
apify_client==1.6.4
AppKit==0.2.8
arango==0.2.1
arcgis==2.2.0.3
argilla==1.27.0
arize==7.15.0
arthurai==3.32.3
astrapy==1.0.0
astunparse==1.6.3
atheris==2.3.0
atlassian==0.0.0
audiocraft==1.2.0
azureml==0.2.7
bagel==0.3.2
baidubce==0.8.3
banana_dev==6.3.0
beartype==0.18.4
bibtexparser==1.4.1
bigdl==2.4.0
bilibili_api==9.1.0
blobfile==2.1.1
bokeh==3.4.1
boto3==1.34.88
botocore==1.34.88
brotli==1.1.0
brotlicffi==1.1.0.0
cached_property==1.5.2
cassio==0.1.6
causal_conv1d==1.2.0.post2
chart_studio==1.1.0
chromadb==0.4.24
clarifai_grpc==10.3.1
classy_vision==0.7.0
clearml==1.15.1
clickhouse_connect==0.7.8
cloudpickle==3.0.0
codecarbon==2.3.5
comet_llm==2.2.2
comet_ml==3.40.0
conda==4.3.16
ConfigParser==7.0.0
contextlib2==21.6.0
cookiecutter==2.6.0
coremltools==7.1
cryptography==42.0.5
ctypes_snappy==1.03
curio==1.6
cx_Oracle==8.3.0
cycler==0.12.1
Cython==3.0.10
cytoolz==0.12.3
dagshub==0.3.24
dall_e==0.1
datadog_api_client==2.24.1
decord==0.6.0
deepeval==0.21.30
deeplearning==0.0.1
defusedxml==0.7.1
dgml_utils==0.3.3
diffusers==0.27.2
dill==0.3.8
dingodb==0.0.16
disco==1.40.4
dl==0.1.0
doctran==0.0.14
docutils==0.19
docutils==0.19
docx2txt==0.8
dria==0.1.20
dvclive==3.45.0
dynamodb_encryption_sdk==3.2.0
e2b==0.14.14
elevenlabs==1.1.2
email_validator==2.1.1
esprima==4.0.1
essentia==2.1b6.dev1110
etcd==2.0.8
eval_type_backport==0.1.3
expecttest==0.2.1
extract_msg==0.48.5
fairseq==0.12.2
fairseq2==0.2.1
fake_useragent==1.5.1
fastai==2.7.14
fastapi==0.110.2
faster_whisper==1.0.1
fastparquet==2024.2.0
feedparser==6.0.11
fiddler==0.11.1
firebase_admin==6.5.0
fitz==0.0.1.dev2
flash_attn==2.5.7
flashrank==0.2.0
flatdict==4.0.1
flytekit==1.11.0
foo==.1
Foundation==0.1.0a0.dev1
fqdn==1.5.1
ftfy==6.2.0
fugashi==1.3.2
g2p_en==2.1.0
galore_torch==1.0
gdown==5.1.0
geopandas==0.14.3
gitdb_speedups==0.1.0
gluonnlp==0.10.0
gmpy2==2.1.5
google_api_python_client==2.126.0
google_auth_oauthlib==1.2.0
googlemaps==4.10.0
gptcache==0.1.43
gpudb==7.2.0.5
gql==3.5.0
gradientai==1.11.0
gradio==4.27.0
grandalf==0.8
grpc==1.0.0
guardrails==2.0.0
gunicorn==22.0.0
h2==4.1.0
h5py==3.11.0
haiku==0.01
hdbcli==2.20.15
hf_transfer==0.1.6
hologres_vector==0.0.9
HTMLParser==0.0.2
httpx_sse==0.4.0
hypothesis==6.100.1
ibm_watsonx_ai==0.2.6
infinity_emb==0.0.32
infinopy==0.0.7
InquirerPy==0.3.4
InstructorEmbedding==1.0.1
intel_extension_for_pytorch==2.2.0
intel_extension_for_transformers==1.4
ipadic==1.0.0
ipython==8.12.3
ipywidgets==8.1.2
isal==1.6.1
isoduration==20.11.0
jaguardb_http_client==3.4.2.3
javelin_sdk==0.2.5
jax==0.4.26
jaxlib==0.4.26
jieba==0.42.1
jnius==1.1.0
joblib==1.4.0
JPype1==1.5.0
jq==1.7.0
kdbai_client==1.1.0
kenlm==0.2.0
keras_nlp==0.9.3
kerchunk==0.2.4
keyring==25.1.0
label_studio_sdk==0.0.32
laion_clap==1.1.4
langchain_astradb==0.1.0
langchain_elasticsearch==0.1.2
langchain_experimental==0.0.57
langchainhub==0.1.15
langkit==0.0.31
lark==1.1.9
laser_encoders==0.0.1
librosa==0.10.1
listparser==0.20
llmlingua==0.2.2
llmonitor==0.0.51
lxml==5.2.1
lz4==4.3.3
lzmaffi==0.3.0
mamba_ssm==1.2.0.post1
markdownify==0.12.1
Mask2Former==0.1.5
matchpy==0.5.5
matplotlib==3.8.4
mediawikiapi==1.2
megatron==0.5.1
metal_sdk==2.5.1
minijinja==1.0.16
mlx_lm==0.10.0
modelscope==1.13.3
modin==0.29.0
monkeytype==23.3.0
motor==3.4.0
moviepy==1.0.3
msal==1.28.0
mtrand==0.1
MultiScaleDeformableAttention==1.0
multiset==3.1.0
mwparserfromhell==0.6.6
mwxml==0.3.3
mxnet==1.9.1
natten==0.15.1
neptune==1.10.2
nest_asyncio==1.6.0
newspaper==0.1.0.7
nlu==5.3.0
nomic==3.0.23
nucliadb_models==3.0.3.post442
nucliadb_protos==3.0.3.post442
numarray==1.5.1
Numeric==24.2
numexpr==2.10.0
O365==2.0.34
objgraph==3.6.1
obs==0.0.0
oci==2.125.3
odfpy==1.4.1
odps==3.5.1
olefile==0.47
onnxscript==0.1.0.dev20240419
openapi_pydantic==0.4.0
openpyxl==3.1.2
optimum==1.19.0
optree==0.11.0
optuna==3.6.1
outcome==1.3.0.post0
paramiko==3.4.0
pdf2image==1.17.0
pdfminer==20191125
pdfplumber==0.11.0
phonemizer==3.2.1
pickle5==0.0.12
pinecone_text==0.9.0
pkgutil_resolve_name==1.3.10
plotly==5.21.0
polars==0.20.21
praw==7.7.1
pretty_midi==0.2.10
promptlayer==0.5.6
psutil==5.9.8
psychicapi==0.8.4
py==1.11.0
py3nvml==0.2.7
pyairtable==2.3.3
pycares==4.4.0
pycocotools==2.0.7
pycosat==0.6.6
pyctcdecode==0.5.0
pycurl==7.45.3
pydot==2.0.0
pydub==0.25.1
pydy==0.7.1
pyepsilla==0.3.5
pygit2==1.14.1
pyglet==2.0.15
pygraphviz==1.12
pyinstaller==5.8.0
PyJWT==2.8.0
pymc==5.13.1
pymc3==3.11.5
pymilvus==2.4.0
pymongo==4.6.3
pynvml==11.5.0
pyodide==0.0.2
pyOpenSSL==24.1.0
pyowm==3.3.0
pypdf==4.2.0
PyPDF2==3.0.1
pypdfium2==4.29.0
pyperf==2.6.3
pyppeteer==2.0.0
PyQt4==4.11.4
PyQt5==5.15.10
PyQt6==6.6.1
pysat==3.2.0
PySide6==6.7.0
pyspark==3.5.1
pysqlcipher3==1.2.0
pysrt==1.1.2
pytesseract==0.3.10
pythainlp==5.0.2
python-decouple==3.8
python_calamine==0.2.0
python_Levenshtein==0.25.1
pyTigerGraph==1.5.2
pytorch_lightning==2.2.2
pytorch_quantization==2.2.1
pytube==15.0.0
pywin32==305
pyxlsb==1.0.10
qcloud_cos==3.3.6
qdrant_client==1.8.2
qianfan==0.3.9
qtpy==2.4.1
railroad==0.5.0
rank_bm25==0.2.2
rapidfuzz==3.8.1
rapidocr_onnxruntime==1.3.17
ray==2.11.0
rdflib==7.0.0
reportlab==4.2.0
requests_kerberos==0.14.0
requests_toolbelt==1.0.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rhoknp==1.7.0
rjieba==0.1.11
rockset==2.1.1
rspace_client==2.5.0
runhouse==0.0.25
s3fs==2024.3.1
s3prl==0.4.15
sacremoses==0.1.1
sage==0.0.0
scipy==1.13.0
selenium==4.19.0
sentencepiece==0.2.0
setuptools_scm==8.0.4
sigopt==8.8.2
simplejson==3.19.2
simsimd==4.3.1
slack_sdk==3.27.1
snowflake==0.7.0
socksio==1.0.0
sodapy==2.2.0
soundfile==0.12.1
speechkit==2.2.2
Sphinx==7.3.7
sqlcipher3==0.5.2
sqlite_vss==0.1.2
stackapi==0.3.0
starlette==0.37.2
steamship==2.17.34
steamspypi==1.1.1
sudachipy==0.6.8
svglib==1.5.1
symengine==0.11.0
t5x==0.0.0
tables==3.9.2
tabulate==0.9.0
takeoff_client==0.4.1
telethon==1.34.0
tensorboardX==2.6.2.2
tensorflow_probability==0.24.0
tensorflow_text==2.16.1
tensorstore==0.1.56
testbench==0.1.2
textractor==0.1.2
textstat==0.7.3
tf2onnx==1.16.1
tf_keras==2.16.0
theano==1.0.5
thirdai==0.7.45
threadpoolctl==3.4.0
tigrisdb==1.0.0b6
timescale_vector==0.0.4
timm==0.9.16
tokenizer==3.4.3
torch_npu==2.2.0
torch_xla==2.2.0
torcharrow==0.1.0
torchaudio==2.2.2
torchrec==0.6.0
torchvision==0.17.2
traitlets==5.14.3
trajectory==0.1.1
tree_sitter==0.21.3
tree_sitter_languages==1.10.2
trove_classifiers==2024.4.10
trubrics==1.6.2
tweepy==4.14.0
ujson==5.9.0
unidic==1.1.0
unidic_lite==1.0.8
uptrain==0.6.13
uri_template==1.3.0
urllib3_secure_extra==0.1.0
uvicorn==0.29.0
uvloop==0.19.0
vearch_cluster==0.0.2
vegafusion==1.6.7
vissl==0.1.6
webcolors==1.13
wget==3.2
whylogs==1.3.30
wikibase_rest_api_client==0.1.3
wolframalpha==5.0.0
xarray==2024.3.0
xformers==0.0.25.post1
xlrd==2.0.1
xlsxwriter==3.2.0
xmlrpclib==1.0.1
xmlrunner==1.7.7
xmltodict==0.13.0
yfinance==0.2.38
youtube_search==2.1.2
youtube_transcript_api==0.6.2
yt_dlp==2024.4.9
z3==0.2.0
zep_python==1.5.0
zstandard==0.22.0
